
<section class="products-grid">
    <h2 class="page-title" style = "text-align:center"><%= @category.name %><span class="accent-color">.</span></h2>
  <div class="container">
    <div class="row products-container">
      <% @category.products.each do |product| %>
      <div class="col-md-4 col-sm-6 col-xs-12 product">
        <div class="thumbnail" style="background-image: url('/assets/products/<%= product.image_file_name %>');">
          <div class="product-details text-center">
            <div class="align-vertical">
              <h3><%= product.name %></h3>
              <%= button_to product_items_path(product_id: product), class: 'accent-bg btn btn-default' do %>
                  <i class="fa fa-shopping-cart"></i>
                Add to cart
                <% end %>

              <p class="product-price">
                <%= number_to_currency product.price %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>
