<section class="newsletter accent-bg">
  <div class="background-image-holder overlay accent">
    <%= image_tag('smell.jpg', class: 'background-image', alt:'Background') %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 text-left">
        <h2 class="page-title">Search for your strains</h2>
        <p>High Quality, Lab Tested Products</p>
      </div>
      <div class="col-md-4">

          <%= text_field_tag :search, params[:search], placeholder: "Search Strains" %>
         <%=submit_tag "Search", :name => nil, :class => "btn btn-primary" %>
    </div>

  </div>
  <!--end of row-->
</div>
<!--end of container-->
</section>
<footer class="footer">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="footer-navigation">
        <li class="active">
          <%= link_to 'All Products', :all_products %>
        </li>
        <li>
      <%= link_to 'About', :about %>
        </li>
        <li>
          <a href="catalog.html">Catalog</a>
        </li>
        <li>
          <a href="blog.html">Blog</a>
        </li>
        <li>
            <%= link_to 'Contact', :contact, :class => "fa fa-paper-plane" %>
        </li>
      </ul>
      <ul class="accepted-payments">
        <li>
          <a href="index.html#">
            <i class="fa fa-cc-amex"></i>
          </a>
        </li>
        <li>
          <a href="index.html#">
            <i class="fa fa-cc-visa"></i>
          </a>
        </li>
        <li>
          <a href="index.html#">
            <i class="fa fa-paypal"></i>
          </a>
        </li>
        <li>
          <a href="index.html#">
            <i class="fa fa-cc-stripe"></i>
          </a>
        </li>
        <li>
          <a href="index.html#">
            <i class="fa fa-cc-mastercard"></i>
          </a>
        </li>
      </ul>
      <div class="copyright">
        <p>Copyright © 2017 THCeasoned. Created by Captin Crohns</p>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
</footer>
