<div class="nav-container">
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navigation" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">THC-easoned<span class="logo-dot accent-bg"></span></a>
        <a href="index.html#sidr" class="side-menu-opener mobile">
          <div class="bars">
            <span class="bar top"></span>
            <span class="bar middle"></span>
            <span class="bar bottom"></span>
          </div>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="collapse-navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <%= link_to 'About', :about %>
          </li>
          <li class="dropdown">
            <a href="products.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Products
              <span class="fa fa-angle-down"></span></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to 'All Products', :all_products %>
              </li>
              <% @categories.each do |category| %>
            <li>
                  <%= link_to category.name, category_path(category) %>

            </li>
        <% end %>
            </ul>
          </li>

          <li>

            <%= link_to contact_path do %>
            <i class="fa fa-paper-plane"></i>contact
            <% end %>

          </li>
          <li>
            <% if @cart.total_price > 0 %>
            <%= link_to @cart, class: 'menu-cart' do %>
                <i class="fa fa-shopping-cart"></i>
            <%= number_to_currency @cart.total_price%>
              <%end %>
              <%else %>
              <a href="#" class="menu-cart"><i class="fa fa-shopping-cart"></i> $0.00</a>
              <%end %>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="index.html#sidr" class="side-menu-opener">
              <div class="bars">
                <span class="bar top"></span>
                <span class="bar middle"></span>
                <span class="bar bottom"></span>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
</div>

<header class="fullscreen-element">

  <div class="background-image-holder parallax-background overlay">
      <%= image_tag('bg-8.jpg', class: 'background-image', alt:'Background') %>
  </div>

  <div class="container align-vertical hero">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-left">
        <h1>THC-easoned to perfection</h1>
        <p>Nothing but the finest craft cannabis that our country has to offer</p>
        <div class="button-group">
          <a href="index.html#" class="btn btn-default">Shop Now</a>

        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</header>
