<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300'%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Code was here for header -->
    <!-- Off screen navigation -->

    <%= render partial: 'common/sidr' %>

    <%= render partial: 'common/header' %>

    <%= render partial: 'common/message' %>
    <div class="main-container">
      <div class="action-bar">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <a href="index.html#">
                <span data-icon="v" class="icon"></span>
                <span class="text">Fast Delivery</span></a>
            </div>
            <div class="col-sm-4">
              <a href="index.html#">
                <span data-icon="/" class="icon"></span>
                <span class="text">Multiple Varieties</span></a>
            </div>
            <div class="col-sm-4">
              <a href="index.html#">
                <span data-icon="7" class="icon"></span>
                <span class="text">Featured Products</span></a>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
      <!-- 'common/rightad' -->
    </div>
    <!--end of container-->
  </section>

</div>
<!-- /.main-container -->
<%= yield %>
<%= render partial: 'common/ad' %>
<%= render partial: 'common/footer' %>
</body>
</html>